<body app-theme class="body">
  <br />
  <div>
    <div>
      <button type="button" class="btn gradient-default">Default</button>
      <button type="button" class="btn gradient-primary">Primary</button>
      <button type="button" class="btn gradient-secondary">Secondary</button>
      <button type="button" class="btn gradient-info">Info</button>
      <button type="button" class="btn gradient-success">Success</button>
      <button type="button" class="btn gradient-danger">Danger</button>
      <button type="button" class="btn gradient-warning">Warning</button>
    </div>
  </div>

  <div class="loader"></div>

  <utils-loader type="ripple"></utils-loader>
  <utils-loader type="ellipsis"></utils-loader>
  <utils-loader type="dual-ring"></utils-loader>
  <utils-loader type="ring"></utils-loader>
  <utils-loader type="roller"></utils-loader>
  <utils-loader type="spinner"></utils-loader>
  <br />

  <input
    type="file"
    class="file-input"
    enctype="multipart/form-data"
    [accept]="requiredFileType"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <br />

  <div>
    <h1>GIF</h1>
    <img
      style="width: 500px"
      src="https://localhost:7111/api/file/77E1203C-8D9C-4A82-9073-52DE5CD79DCB?action=preview"
    />
  </div>

  <div>
    <img
      style="width: 500px"
      src="https://localhost:7111/api/file/5280A0FA-ED8D-4CED-ADE2-9E0FDDA69776?action=preview"
    />

    <img
      oncontextmenu="return false;"
      style="width: 500px"
      src="https://localhost:7111/api/file/5280A0FA-ED8D-4CED-ADE2-9E0FDDA69776?action=preview"
    />
  </div>

  <div class="video">
    <video muted controls style="width: 500px">
      <source
        src="https://localhost:7111/api/file/A7D63605-E306-4797-B122-7F391EBB61B8?action=preview"
        type="video/mp4"
      />
      Browser not supported
    </video>

    <video
      muted
      controls
      controlsList="nodownload"
      oncontextmenu="return false;"
      style="width: 500px"
    >
      <source
        src="https://localhost:7111/api/file/A7D63605-E306-4797-B122-7F391EBB61B8?action=preview"
        type="video/mp4"
      />
      Browser not supported
    </video>
  </div>

  <div class="audio">
    <h1>Downloadable audio</h1>
    <audio controls style="width: 500px">
      <source
        src="https://localhost:7111/api/file/FEF6E8F5-735E-4ABC-9726-F2BF49C49C36?action=preview"
        type="audio/mpeg"
      />
      Browser not supported
    </audio>
  </div>

  <div class="audio">
    <h1>Prevent download audio</h1>

    <audio
      controls
      controlsList="nodownload"
      oncontextmenu="return false;"
      style="width: 500px"
    >
      <source
        src="https://localhost:7111/api/file/FEF6E8F5-735E-4ABC-9726-F2BF49C49C36?action=preview"
        type="audio/mpeg"
      />
      Browser not supported
    </audio>
  </div>

  <button
    class="btn btn-success"
    onclick=" window.open('https://localhost:7111/api/file/B5B83AF7-17E7-4FBD-8D4E-76A7C785D4F8?action=preview','_blank')"
  >
    Preview pdf
  </button>

  <button
    class="btn btn-warning"
    onclick=" window.open('https://localhost:7111/api/file/B5B83AF7-17E7-4FBD-8D4E-76A7C785D4F8?action=download','_blank')"
  >
    Download pdf
  </button>
</body>
