<body app-theme class="body">
  <br />
  <div>
    <div>
      <button type="button" class="btn gradient-default">Default</button>
      <button type="button" class="btn gradient-primary">Primary</button>
      <button type="button" class="btn gradient-secondary">Secondary</button>
      <button type="button" class="btn gradient-info">Info</button>
      <button type="button" class="btn gradient-success">Success</button>
      <button type="button" class="btn gradient-danger">Danger</button>
      <button type="button" class="btn gradient-warning">Warning</button>
    </div>
  </div>

  <div class="loader"></div>

  <utils-loader type="ripple"></utils-loader>
  <utils-loader type="ellipsis"></utils-loader>
  <utils-loader type="dual-ring"></utils-loader>
  <utils-loader type="ring"></utils-loader>
  <utils-loader type="roller"></utils-loader>
  <utils-loader type="spinner"></utils-loader>
  <br />

  <input
    type="file"
    class="file-input"
    enctype="multipart/form-data"
    [accept]="requiredFileType"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <br />

  <div>
    <h1>GIF</h1>
    <img
      style="width: 500px"
      src="https://localhost:7111/api/file/previewfile/6D4F27C8-55BA-426F-8474-61C21CB39DFF"
    />
  </div>

  <div>
    <img
      style="width: 500px"
      src="https://localhost:7111/api/file/previewfile/5518A309-02ED-4D2C-972C-FE2EC6D1464E"
    />

    <img
      oncontextmenu="return false;"
      style="width: 500px"
      src="https://localhost:7111/api/file/previewfile/5518A309-02ED-4D2C-972C-FE2EC6D1464E"
    />
  </div>

  <div class="video">
    <video muted controls style="width: 500px">
      <source
        src="https://localhost:7111/api/file/previewfile/254CEC51-2EBB-4434-8013-5A7006452FED"
        type="video/mp4"
      />
      Browser not supported
    </video>

    <video
      muted
      controls
      controlsList="nodownload"
      oncontextmenu="return false;"
      style="width: 500px"
    >
      <source
        src="https://localhost:7111/api/file/previewfile/254CEC51-2EBB-4434-8013-5A7006452FED"
        type="video/mp4"
      />
      Browser not supported
    </video>
  </div>

  <div class="audio">
    <h1>Downloadable audio</h1>
    <audio controls style="width: 500px">
      <source
        src="https://localhost:7111/api/file/previewfile/8800BE0E-3D6F-4BF1-8A64-73CA1507569E"
        type="audio/mpeg"
      />
      Browser not supported
    </audio>
  </div>

  <div class="audio">
    <h1>Prevent download audio</h1>

    <audio
      controls
      controlsList="nodownload"
      oncontextmenu="return false;"
      style="width: 500px"
    >
      <source
        src="https://localhost:7111/api/file/previewfile/8800BE0E-3D6F-4BF1-8A64-73CA1507569E"
        type="audio/mpeg"
      />
      Browser not supported
    </audio>
  </div>

  <button
    class="btn btn-success"
    onclick=" window.open('https://localhost:7111/api/file/previewfile/520E509A-571F-4A74-B3D2-AF1549E32795','_blank')"
  >
    Preview pdf
  </button>

  <button
    class="btn btn-warning"
    onclick=" window.open('https://localhost:7111/api/file/downloadfile/520E509A-571F-4A74-B3D2-AF1549E32795','_blank')"
  >
    Download pdf
  </button>
</body>
