/* You can add global styles to this file, and also import other style files */
@import './bootstrap';

.fa-hover-primary:hover {
	color: #5e72e4;
}

.fa-hover-danger:hover {
	color: #f5365c;
}

.form-combined
	.input-group
	> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	border: 1px solid #5e72e4 !important;
}

.btn.calendar {
	height: 40px !important;
}
