<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6b953d2b-df7b-4702-b360-32a7610d9737/resourcegroups/Forum/providers/Microsoft.ContainerRegistry/registries/ForumCore</ResourceId>
    <ResourceName>ForumCore</ResourceName>
    <ResourceGroup>Forum</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://forumcore.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>